/* Home */

.home-layout-transparent {
  background: url('../assets/index-background.jpg') center / cover;
}

.home-layout-transparent .mdl-layout__header,
.home-layout-transparent .mdl-layout__drawer-button {
  color: rgba(0,0,0,.87);
}

.home-layout-transparent .mdl-button {
  white-space: nowrap;
}

/* Create */


/* Admin Page */


/* User Page */
