/* Home */

.home-layout-transparent {
  background: url('index-background.jpg') center / cover;
  background-color: rgba(238, 238, 238, 0.81) !important;
  background-blend-mode: color;
}

.home-layout-transparent .mdl-layout__header,
.home-layout-transparent .mdl-layout__drawer-button {
  color: rgba(0,0,0,.87);
}

.home-layout-transparent .mdl-button {
  white-space: nowrap;
}

#logo-text {
  font-size: 80pt;
  font-family: 'Didact Gothic', sans-serif;
  color: #444;
}

/* Create */


/* Admin Page */


/* User Page */
